<h3>以下の内容で、つぶやきますか？</h3>

<%= form_with(model: @div, local: true) do |form| %>
  <%= form.hidden_field :content %>

  <p>つぶやき内容:<%= @div.content %></p>
  <%= form.submit "登録する" %>
  <%= form.submit "戻る", name: "back" %>
<% end %>
