<!DOCTYPE html>
<html>
  <head>
    <title>Work1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <h3>Twitter-clone課題 </h3>
      </div>
      <div class="header-menus">
        <ul>
          <li>
            <%= link_to "一覧に戻る", divs_path %>
            </li>
          <li>
            <%= link_to"つぶやく", new_div_path %>
          </li>
        <ul>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
